header{
    background-color: white;
    position: fixed;
    align-items: center;
    display: flex; 
    justify-content: space-between;
    padding: 0.5rem 15%;
    width: 70%;
    z-index: 2000;
}
.header-logo svg{
    width: 10rem;
}
.header-menu ul {
    display: flex; 
    gap: 2rem;
    justify-content: space-between; 
}
.header-menu ul li a {
    color:grey;
    text-decoration: none;
    font-size: 1.2rem;
}
.header-checkout-button button{
    border-radius: 30px;
    color: white;
    background-color:  $secondary-color;
    padding: 10px  30px;
    border: none;
    cursor: pointer;
}
.header-checkout-button button:hover{
    background-color: $hover-color;
}