.footer-social-networks{

}

.footer-social-networks-item{
    display: flex; 
    justify-content: space-between;
}

.footer-menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 3rem;
    margin-right: auto;
    margin-left: auto;
}

.footer-copyright{

}