.footer{ 
    display: flex;
    flex-direction: column;
   
}

.footer-social-networks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; 
}

.footer-social-networks-item a svg{
    display: flex; 
    justify-content: space-between;
    width: 2rem;
    height: 2rem;
    gap: 3rem;
}

.footer-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 3rem;
    width: 70%;
    padding: 0 15%;
}

.footer-copyright p{
    display: flex;
    justify-content: center;
    
}