header{
    align-items: center;
    display: flex; 
    justify-content: space-between;
}

.header-logo svg{
    width: 50%;
}

.header-menu ul{
    display: flex; 
    gap: 1rem;
    justify-content: space-evenly;
}

.header-checkout-button{
    display: flex; 
    justify-content: space-between;
}

.slider{

}

.slider-image{
    width 100%
    height 100%;

}

.slider-title{


}

.slider-description{

}

.slider-button{

}

.featured{

}

.featured-title{

}

.featured-description{

}

.featured-items{
    display: flex; 
    justify-content: space-between;
}

.featured-item{
    display: flex; 
    justify-content: space-between;
}

.featured-item-image{

}

.featured-item-title{

}

.featured-item-description{

}

.details{
    display: flex; 
}

.details-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-item{
    display: flex; 
    justify-content: space-between;

}

.details-item-icon{

}

.details-text{

}

.details-title{

}

.details-description{

}

.details-icon{

}

.details-image{

}

.team{
    display: flex; 
    justify-content: space-between;
}

.team-title{

}

.team-description{

}

.team-items{
    display: flex; 
    justify-content: space-between;
}

.team-item{

}

.team-item-social-networks{

}

.team-item-image{

}

.team-item-title{

}

.team-item-description{

}

.contact{

}

.contact-map{

}

.contact-card{

}

.contact-card-front{

}

.contact-card-title{

}

.contact-card-items{

}

.contact-card-item{

}

.contact-card-item-icon{

}

.contact-card-item-text{

}

.contact-card-flip-button{

}

.contact-card-back{

}

.contact-card-form{

}

.contact-card-send-button{

}

.footer-social-networks{

}

.footer-social-networks-item{
    display: flex; 
    justify-content: space-between;
}

.footer-menu{
    display: flex; 
    justify-content: space-between;
}

.footer-copyright{

}

