header{
    display: flex; 
    justify-content: space-between;
}

.header-logo{
    
}

.header-menu ul{
    display: flex; 
    gap: 1rem;
    justify-content: space-evenly;
}

.header-checkout-button{

}

.slider{

}

.slider-image{

}

.slider-title{

}

.slider-description{

}

.slider-button{

}

.featured{

}

.featured-title{

}

.featured-description{

}

.featured-items{

}

.featured-item{

}

.featured-item-image{

}

.featured-item-title{

}

.featured-item-description{

}

.details{

}

.details-column{

}

.details-item{

}

.details-item-icon{

}

.details-text{

}

.details-title{

}

.details-description{

}

.details-icon{

}

.details-image{

}

.team{

}

.team-title{

}

.team-description{

}

.team-items{

}

.team-item{

}

.team-item-social-networks{

}

.team-item-image{

}

.team-item-title{

}

.team-item-description{

}

.contact{

}

.contact-map{

}

.contact-card{

}

.contact-card-front{

}

.contact-card-title{

}

.contact-card-items{

}

.contact-card-item{

}

.contact-card-item-icon{

}

.contact-card-item-text{

}

.contact-card-flip-button{

}

.contact-card-back{

}

.contact-card-form{

}

.contact-card-send-button{

}

.footer-social-networks{

}

.footer-social-networks-item{

}

.footer-menu{

}

.footer-copyright{

}

