.featured{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 70%;
    padding: 5% 15%;
}

.featured-title h2{
    text-align: center;
    color:hsl(208, 13%, 25%);
    font-weight: 600;
    font-size: 3rem;
}

.featured-description p{
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    color: hsl(210, 7%, 49%);
    width: 70%;
    padding: 0 15%;
}

.featured-description::after{
    background-color:hsl(0, 0%, 93%) ;
    content: " ";
    display: block;
    height: 0.4rem;
    width: 7%;
    margin: 2rem auto;
}

.featured-items{
    display: flex;
    gap: 2em;
    justify-content: space-between;
}

.featured-item{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.featured-item-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.featured-item-title{
    text-align: center;
}

.featured-item-title h3{
    font: 600 20px/32px $font-stack
}

.featured-item-description p{
    text-align: center;
    color: hsl(210, 7%, 49%);
}