form{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    padding: 1rem;
}

.form-row{
    display: flex;
    gap: 1rem;
    justify-content: space-between
}

.form-row-button button{
   background: $primary-color;
   color: hsl(0, 0%, 100%);
   border: none;
   font-weight: 500;
   font-size: 1.7rem;
   padding: 5% 0%;
   text-transform: uppercase;
   width: 80%;
   border-radius: 3%;
   cursor: pointer;

}

.form-element{
    margin-bottom: 1rem;
    width: 100%;
    padding:0 1rem;
}

.form-element input{
    box-sizing: border-box;
    padding: 0.8rem 1rem;
    width: 100%;
}

*:focus{
    outline: none;
    border: 1px solid red;
}