.notification-message{
    width: 20%;
    padding: 30px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 3000;
    opacity: 0;
    transition: opacity 0.3;
}

.notification-message.active{
    opacity: 1;
}


.notification-message.success{
    border: 1px solid greenyellow;
    background-color: rgb(94, 236, 129);
}

.notification-message.error{
    border: 1px solid rgb(255, 47, 47);
    background-color: rgb(255, 47, 47);
}