.plus-minus-buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.plus-minus-buttons input{
    text-align: center;
    width: 10%;
    
}


.plus-button.button{
    cursor: pointer;
}