.slider{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 95vh;
    align-items: center;
}

.slider .slider-background  {
    position: absolute;
    width: 100%;
    height: 95vh;
    z-index: -1;
}

.slider-background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-image{
    position: absolute;
    bottom: 5%;
    width: 22%;
    z-index: -1;


}

.slider-image img{
    width: 100%;
}

.slider .slider-title{
    position: absolute;
    top: 10%;
}

.slider .slider-title h1{
    text-align: center;
    font-size: 5rem;
    color: rgb(77, 75, 75);
}

.slider .slider-description{
    position: absolute;
    top: 20%;
}

.slider .slider-description p{
    text-align: center;
    font-size: 1.6rem;
    padding: 0 25%;
    color:rgb(151, 129, 129);
    margin: 1px
}

.slider .slider-button{
    position: absolute;
    top: 35%;
}

.slider .slider-button button {
    display: flex;
    justify-content: center;
    border-radius: 80px;
    padding: 20px 80px;
    border: none;
    background-color: $primary-color;
    color:white;
    cursor: pointer;
    font-size: 1.5rem;
}
.slider .slider-button button:hover{
    background-color: #374048;
}