.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: hsl(204, 56%, 98%);
    padding: 10vh 10%;
}

.team-title-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-title-box::after{
    background-color:hsl(0, 0%, 93%) ;
    content: " ";
    display: block;
    height: 0.4rem;
    width: 7%;
    margin: 2rem auto;
}

.title-text-box{
    top: 5%;
}

.title-text-box h2{
    color: hsl(208, 13%, 25%);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.description-text-box{
    padding: 0 10%;
    margin-bottom: 1rem;
}

.description-text-box p{
    color:  hsl(210, 7%, 49%);
    font-weight: 300;
    font-size: 1.2rem;
}

.team-items{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-top: 3rem;
}

.team-item{
    display: flex;
    flex-direction: column;
    position: relative;
}

.team-item-social-networks{
    align-items: center;
    background-color: hsla(212, 7%, 59%, 0.7);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
    transition: all 0.5s ease-in-out;
}

.team-item-social-networks.active{
    background-color: hsl(210, 7%, 35%);
    height: max-content;
    padding-bottom: 0.5rem;
}

.team-item-social-networks.active svg{
    fill: hsl(210, 7%, 59%);
    margin: 0.1rem 0;
    width: 1.3rem;
}

.team-item-social-networks.active svg:hover{
    fill: hsl(210, 6%, 79%);
}

.hamburger-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 2rem;
    justify-content: center;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 2rem;
}
  
.hamburger-button span {
    background-color: hsl(0, 0%, 100%);
    display: block;
    height: 2px;
    margin: 1.5px auto;
    transition: all 0.3s ease-in-out;
    width: 50%;
}

.hamburger-button.active{
    position: relative;
}

.hamburger-button.active span:first-of-type {
    transform: translateY(5px) rotate(45deg);
}
  
.hamburger-button.active span:nth-of-type(2) {
    opacity: 0;
}   

.hamburger-button.active span:last-of-type {
    transform: translateY(-5px) rotate(-45deg);
}
  
.team-item-picture{
    height: 100%;
    overflow: hidden;
}

.team-item-name{
    background-color: hsl(0, 0%, 100%);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-item-name h4{
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}

.team-item-description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    background-color: hsl(0, 0%, 100%);
}

.team-item-description p{
    color:hsl(208, 13%, 25%);
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    
}