.team{
    background-color: hsl(204, 56%, 98%);
    display: flex; 
    flex-direction: column;
    gap: 2rem;
    width: 70%;
    padding: 5% 15%;
   
}
.team-title {
    padding: 1% 15%;
}

.team-title h2{
    text-align: center;
    color:hsl(208, 13%, 25%);
    font-weight: 600;
    font-size: 3rem;
}

.team-description p{
    text-align: center;
    color: hsl(210, 7%, 49%);
    font-weight: 300;
    font-size: 1.5rem;
}

.team-items{
    display: flex; 
    align-items: center;
    gap: 2rem;
    width: 80%;
    padding: 0 10%;
}
.team-description p::after{
    background-color:hsl(0, 0%, 93%) ;
    content: " ";
    display: block;
    height: 0.4rem;
    width: 7%;
    margin: 2rem auto;
}

.team-item{
    display: flex;
    flex-direction: column;
    position: relative; 
}
.team-item-social-networks{
    position: absolute;  
    top:0;
    right: 0;
}

.team-item-social-networks svg{
    width: 1rem; 
    height: 1rem;
    background-color: hsl(0, 0%, 50%);
    fill:hsl(210, 17%, 98%);
    margin: 20px;
    padding: 5px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.team-item-image img{
    height: 30vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
}
.team-item-text{
    padding: 2rem 0;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.team-item-title{
    background-color: hsl(0, 0%, 100%);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-item-title h4{
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
}

.team-item-description{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}
.team-item-description p{
    color: hsl(208, 5%, 54%);
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
}