.filter-panel{
    background-color: hsl(0, 0%, 100%);;
    width: 100%;
    height: 3rem;
    
}

.filter-panel-button svg {
    width: 1.7rem;
    padding: 0.5rem 0;
    display: block;
    margin: auto;
}
svg{
    fill:hsl(207, 85%, 69%)
    
}