.plus-minus-buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.plus-minus-buttons input{
    text-align: center;
    width: 10%;
}

.plus-minus-buttons button{
    cursor: pointer;
}