form{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1.5rem;
    justify-content: start;
}

.form-row{
    display: flex;
    gap: 1.5rem;
    justify-content: space-between
}

.form-element{
    width: 100%;
}
.form-element label{

}
.form-element input{
    box-sizing: border-box;
    padding: 0.8rem 1rem;
    width: 100%;
}
