//typography
$font-stack: "Poppins",sans-serif;
$font-stack-condensed: "Poppins",sans-serif;

//colors
    $primary-color:  hsl(240, 97%, 50%);
    $secondary-color: hsl(18, 100%, 57%);
    $hover-color: hsl(0, 0%, 20%);

//z-index
$z-index-header:;
$z-index-slider:;     
